{% extends 'base.html' %}

{% block title %}Новый заказ{% endblock %}

{% block heading %}Новый заказ{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'calculate_price' %}">
        {% csrf_token %}
        <label for="car_number">Номер автомобиля:</label>
        <input type="text" id="car_number" name="car_number" required><br><br>

        <label for="wash_type">Тип мойки:</label>
        <select name="wash_type" id="wash_type">
            {% for key, value in wash_types.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select><br><br>

        <label for="car_class">Класс автомобиля:</label>
        <select name="car_class" id="car_class">
            {% for key, value in car_classes.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select><br><br>

        <label for="vacuum">Тип пылесоса:</label>
        <select name="vacuum" id="vacuum">
            {% for key, value in vacuum_types.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select><br><br>

        <label for="additional_services">Дополнительные услуги:</label>
        <select name="additional_services" id="additional_services" multiple>
            {% for additional_service in additional_services %}
                <option value="{{ additional_service.id }}">{{ additional_service.name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="employee">Сотрудник:</label>
        <select name="employee" id="employee">
            {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee.name }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Подтвердить">
    </form>
{% endblock %}
