<!-- save_order.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Save Order</title>
</head>
<body>
    <h1>Order Saved</h1>

    <h2>Order Details:</h2>
    <p>Wash Type: {{ order.wash_type }}</p>
    <p>Car Class: {{ order.car_class }}</p>
    <p>Vacuum Type: {{ order.vacuum }}</p>
    <p>Additional Services:</p>
    <ul>
        {% for additional_service in order.additional_services.all %}
            <li>{{ additional_service.name }}</li>
        {% endfor %}
    </ul>
    <p>Employee: {{ order.employee.name }}</p>
    <p>Total Price: {{ order.total_price }}</p>
</body>
</html>
